

.banner-card {
  width: 100vw;
  height: 70vh;
  position: relative;
  margin-bottom: 7rem;
}

.banner-card > img{
  width: 100%;
  height: 80vh;
}

.banner-title {
  position: absolute;
  top: 50vh;
  color: #ffffff;
  left: 7vw;
  font-size: 2.2rem;
}

.banner-text {
  position: absolute;
  top: 57vh;
  color: #fff;
  left: 7vw;
  font-size: 1.2rem;
  padding-right: 2rem;
}

.movie-list {
  display: flex;
  padding : 1rem;
  justify-content:center;
  flex-wrap: wrap;
}

.movie-card {
  margin: 1rem;
  width: 20vw;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.movie-title {
  position: absolute;
  top: 1vh;
  left: 1vw;
  color: #fff;
}

.addBtn {
  position: absolute;
  bottom: 3vh;
  /* left: 5vw; */
  /* display: none; */
}

/* .movie-card:hover>div>.addBtn{
  display: block;
} */


.genre-table{
  padding:3rem;
}

.favourite-table{
  padding: 3rem;

}